install

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted $6$6C7lh9Bvyi.hlG2l$7pkAfKzEwR9/IerQp4LdD8C8IzQWx7ckqX7PhTvPwIrHwKVctN9F0JZj1o9PLpLzBGxzfuX5creYM/DtNXE2X1

# System language
lang en_US

# SELinux configuration
selinux --disabled

# System timezone
timezone America/New_York

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --none --initlabel

# Disk partitioning information
volgroup centos --pesize=4096 pv.20
logvol / --fstype="xfs" --grow --size=10000 --vgname=centos --name=lv_root
part pv.20 --fstype="lvmpv" --ondisk=sda --size=635000
part /boot --fstype="xfs" --ondisk=sda --size=1024
logvol swap --fstype="ext4" --size=1024 --vgname=centos --name=lv_swap

# Reboot after installation
reboot

%packages --nobase
@core --nodefaults
-aic94xx-firmware*
-alsa-*
-iwl*firmware
-NetworkManager*
-iprutilsend

%end

%post
#!/bin/bash
# Install our SSH key
mkdir -m0700 /root/.ssh/

cat <<EOF >/root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8EJKdn7vG3z/OR8XgdhBVB/QWVKmGqhwqH4RpuBEIDdzOLZ5V5/pePF6w/621VdoXnMBtMfX+ADib3o4CxCUO5e9OSepxmEOtWKE7xpzoujYUg7qTI4sE1xT0/pBe9fsR6fJUHcjCuYRSNHyoMeHOviU0mGEcxPXmiXS7buZruXJr1tyYiSihg+x1L6oIk0W7/fpbAvwQoWwXzhUZyQHKWAi0KYRDbOy56QlQ4y2rctbRhAZ8K873MLEyVjbZqNdrfoxy1GjDzlgK8HguWQT/gM/DnJwEwj5sJrZDl8UKX06Db74oDriVjITvgKgZnOnpu0n/gtV/S/LFvd7gFfzN root@c85ecd3062e3
EOF

### Set Permissions
chmod 0600 /root/.ssh/authorized_keys

### fix up selinux context
restorecon -R /root/.ssh/

%end
