install

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted $6$6C7lh9Bvyi.hlG2l$7pkAfKzEwR9/IerQp4LdD8C8IzQWx7ckqX7PhTvPwIrHwKVctN9F0JZj1o9PLpLzBGxzfuX5creYM/DtNXE2X1

# System language
lang en_US

# SELinux configuration
selinux --disabled

# System timezone
timezone America/New_York

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --none --initlabel

# Disk partitioning information
volgroup centos --pesize=4096 pv.20
logvol / --fstype="xfs" --grow --size=10000 --vgname=centos --name=lv_root
part pv.20 --fstype="lvmpv" --ondisk=sda --size=635000
part /boot --fstype="xfs" --ondisk=sda --size=1024
logvol swap --fstype="ext4" --size=1024 --vgname=centos --name=lv_swap

# Reboot after installation
reboot

%packages --nobase
@core --nodefaults
-aic94xx-firmware*
-alsa-*
-iwl*firmware
-NetworkManager*
-iprutilsend

%end

%post
#!/bin/bash
# Install our SSH key
mkdir -m0700 /root/.ssh/

cat <<EOF >/root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdvWYj3IDSiirnXUlnBcV/jy7G5Jhwz7HlNYpVa2l/opF+wmucHdg4asIWCxM1LDfZNCxyGnL7YcAazPOheY6b9X2PsQDrX3glrWJQ4IYO1cBjOldV0MujnxMSo3ylemP3Ib126HxMflMYKyPj47p+AuR1hJ2AKHlyW2XWNjHpGX63pEBZ4sEYIt1VHJYlnV1dJTrk+4eDB1b8mFqz8NFay3OyfbtkbvS+kUW7kQYaustOJw2c2FEoF2kSxXt97oHP25jHWzrQVCGmwWKP92GiBcrC/KFhVb4A02MwA7vmT1poo/iizRELpuuYR8d8xU7rNmidx2elBMF+017Zs7Rr test_ops@example.com
EOF

### Set Permissions
chmod 0600 /root/.ssh/authorized_keys

### fix up selinux context
restorecon -R /root/.ssh/

%end
